docs/n8n/mmf-us-benchmark.inline-supabase.template.workflow.json
{
  "name": "Truva MMF - US T-Bill/SOFR Benchmark (Inline Supabase Template)",
  "nodes": [
    {
      "parameters": {},
      "id": "e5b8e9b8-1b22-44af-8884-2a6231c5d3d3",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -200,
        -120
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 2"
            }
          ]
        },
        "timezone": "Asia/Manila"
      },
      "id": "18f958ee-99a5-4eb8-b219-c637a28ebdf2",
      "name": "Tuesday 8:00 AM PHT",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -200,
        60
      ]
    },
    {
      "parameters": {
        "url": "https://markets.newyorkfed.org/api/rates/all/latest.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (compatible; TruvaMMF/1.0)"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "id": "76974720-c752-4752-adf6-2921008d3de6",
      "name": "Fetch NY Fed SOFR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        80,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "function phtDate() {\n  const parts = new Intl.DateTimeFormat('en-US', { timeZone: 'Asia/Manila', year: 'numeric', month: '2-digit', day: '2-digit' }).formatToParts(new Date());\n  const pick = (type) => parts.find((part) => part.type === type).value;\n  return pick('year') + '-' + pick('month') + '-' + pick('day');\n}\n\nconst raw = $json.refRates || {};\nconst sofr_ai = raw.find(r => r.type === 'SOFRAI');\nif (!sofr_ai || !sofr_ai.average90day) throw new Error('Missing SOFRAI 90-day average from NY Fed response');\n\nconst rate = Number(sofr_ai.average90day) / 100;\n\nreturn [{\n  json: {\n    key: 'US_TBILL_90D',\n    label: '90-Day SOFR Average (Proxy for US T-Bill)',\n    date: phtDate(),\n    rate: Number(rate.toFixed(6)),\n    source_url: 'https://markets.newyorkfed.org/api/rates/all/latest.json'\n  }\n}];"
      },
      "id": "0d20d4df-0599-4d69-a178-01e40ebfb7ee",
      "name": "Build Benchmark Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        360,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://REPLACE_WITH_SUPABASE_PROJECT.supabase.co/rest/v1/benchmark_rates?on_conflict=key,date",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "REPLACE_WITH_SUPABASE_SERVICE_ROLE_KEY"
            },
            {
              "name": "Authorization",
              "value": "Bearer REPLACE_WITH_SUPABASE_SERVICE_ROLE_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}"
      },
      "id": "e6dd51ef-8f3a-4467-93cf-058df34afaf8",
      "name": "Upsert benchmark_rates",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "function phtDate() {\n  const parts = new Intl.DateTimeFormat('en-US', { timeZone: 'Asia/Manila', year: 'numeric', month: '2-digit', day: '2-digit' }).formatToParts(new Date());\n  const pick = (type) => parts.find((part) => part.type === type).value;\n  return pick('year') + '-' + pick('month') + '-' + pick('day');\n}\n\nconst original = $items('Build Benchmark Payload')[0].json;\nreturn [{\n  json: {\n    requested_key: original.key || 'US_TBILL_90D',\n    requested_date: phtDate()\n  }\n}];"
      },
      "id": "c1f6ce63-e8ee-449e-b9b5-2cfcda3939ba",
      "name": "Build Recalculation Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://REPLACE_WITH_SUPABASE_PROJECT.supabase.co/rest/v1/rpc/recalculate_mmf_benchmark",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "REPLACE_WITH_SUPABASE_SERVICE_ROLE_KEY"
            },
            {
              "name": "Authorization",
              "value": "Bearer REPLACE_WITH_SUPABASE_SERVICE_ROLE_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}"
      },
      "id": "a19fd528-79d1-4e42-995a-bcedb4db5304",
      "name": "Recalculate vs_benchmark",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Fetch NY Fed SOFR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tuesday 8:00 AM PHT": {
      "main": [
        [
          {
            "node": "Fetch NY Fed SOFR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch NY Fed SOFR": {
      "main": [
        [
          {
            "node": "Build Benchmark Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Benchmark Payload": {
      "main": [
        [
          {
            "node": "Upsert benchmark_rates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert benchmark_rates": {
      "main": [
        [
          {
            "node": "Build Recalculation Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Recalculation Payload": {
      "main": [
        [
          {
            "node": "Recalculate vs_benchmark",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "usd-us-tbill-sofr-inline-template",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
