docs/n8n/mmf-uitf-daily-usd.inline-supabase.template.workflow.json
{
  "name": "Truva MMF - USD UITF Daily Scrape (Inline Supabase Template)",
  "nodes": [
    {
      "parameters": {},
      "id": "0f1b5b7d-6c68-4f09-b2cb-742f1e237101",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -760,
        -120
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "35 18 * * *"
            }
          ]
        },
        "timezone": "Asia/Manila"
      },
      "id": "80679d3a-dbd7-4f78-90c1-f781a0b4e4f0",
      "name": "Daily 6:35 PM PHT",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -760,
        80
      ]
    },
    {
      "parameters": {
        "url": "https://REPLACE_WITH_SUPABASE_PROJECT.supabase.co/rest/v1/money_market_funds?select=id,slug,name,provider,trust_fee_pct,uitf_fund_id&is_active=eq.true&currency=eq.USD&fund_type=eq.UITF&navpu_source=eq.uitf_com_ph",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "REPLACE_WITH_SUPABASE_SERVICE_ROLE_KEY"
            },
            {
              "name": "Authorization",
              "value": "Bearer REPLACE_WITH_SUPABASE_SERVICE_ROLE_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "id": "d1cf2b02-7c75-4c6a-9e1b-01b51c48cbf0",
      "name": "Get Target Funds",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -430,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://REPLACE_WITH_SUPABASE_PROJECT.supabase.co/rest/v1/benchmark_rates?select=rate,date&key=eq.US_TBILL_90D&order=date.desc&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "REPLACE_WITH_SUPABASE_SERVICE_ROLE_KEY"
            },
            {
              "name": "Authorization",
              "value": "Bearer REPLACE_WITH_SUPABASE_SERVICE_ROLE_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "id": "b4ac8d78-4f5e-4745-a6ec-51d3976ce30e",
      "name": "Get Latest Benchmark",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -110,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{$json.url}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (compatible; TruvaMMF/1.0)"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text",
              "outputPropertyName": "data"
            }
          },
          "timeout": 45000
        }
      },
      "id": "30a9473a-461f-40f6-97be-bcba055ae1cb",
      "name": "Fetch UITF Provider Sources",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        310,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const SOURCE_CONFIG = {\n  \"bdo-dollar-money-market-fund\": {\n    \"bank_id\": 6,\n    \"source_name\": \"BDO DOLLAR MONEY MARKET FUND\"\n  },\n  \"chinabank-dollar-cash-fund\": {\n    \"bank_id\": 7,\n    \"source_name\": \"CHINABANK DOLLAR CASH FUND\"\n  },\n  \"landbank-us-dollar-money-market-fund\": {\n    \"bank_id\": 9,\n    \"source_name\": \"LANDBANK US$ Money Market Fund\"\n  },\n  \"metro-dollar-money-market-fund\": {\n    \"bank_id\": 1,\n    \"source_name\": \"Metro$ Money Market Fund\"\n  },\n  \"pnb-prime-dollar-money-market-fund\": {\n    \"bank_id\": 2,\n    \"source_name\": \"PNB PRIME DOLLAR MONEY MARKET FUND\"\n  }\n};\nfunction nodeRows(name) {\n  return $items(name).flatMap((item) => {\n    if (Array.isArray(item.json)) return item.json;\n    if (Array.isArray(item.json.data)) return item.json.data;\n    return Object.keys(item.json || {}).length ? [item.json] : [];\n  });\n}\nfunction decode(value) {\n  return String(value || '')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&amp;|&#038;/g, '&')\n    .replace(/&#8211;|&ndash;/g, '-')\n    .replace(/&#x27;|&#39;/g, String.fromCharCode(39))\n    .replace(/&quot;|&#34;/g, String.fromCharCode(34));\n}\nfunction strip(value) {\n  return decode(value)\n    .replace(/<!--[\\s\\S]*?-->/g, ' ')\n    .replace(/<script[\\s\\S]*?<\\/script>/gi, ' ')\n    .replace(/<style[\\s\\S]*?<\\/style>/gi, ' ')\n    .replace(/<[^>]+>/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\nfunction norm(value) {\n  return String(value || '').toLowerCase().replace(/&/g, 'and').split('$').join(' dollar ').replace(/[^a-z0-9]+/g, ' ').trim();\n}\nfunction parseNumber(value) {\n  const parsed = Number(String(value || '').replace(/,/g, '').trim());\n  return Number.isFinite(parsed) ? parsed : null;\n}\nfunction parseSourceDate(text) {\n  const match = text.match(/NAVpus\\) as of ([A-Za-z]+)\\s+(\\d{1,2}),\\s*(\\d{4})/i);\n  if (!match) throw new Error('Could not find UITF source date. Sample: ' + text.slice(0, 400));\n  const months = { jan: '01', feb: '02', mar: '03', apr: '04', may: '05', jun: '06', jul: '07', aug: '08', sep: '09', oct: '10', nov: '11', dec: '12' };\n  const month = months[match[1].slice(0, 3).toLowerCase()];\n  if (!month) throw new Error('Unparseable UITF source month: ' + match[1]);\n  return match[3] + '-' + month + '-' + String(match[2]).padStart(2, '0');\n}\nfunction parseRows(html, bankId) {\n  const text = strip(html);\n  const sourceDate = parseSourceDate(text);\n  return [...html.matchAll(/<tr[\\s\\S]*?<\\/tr>/gi)].map((match) => match[0].replace(/<!--[\\s\\S]*?-->/g, ' ')).map((row) => {\n    const cells = [...row.matchAll(/<td[^>]*>([\\s\\S]*?)<\\/td>/gi)].map((match) => strip(match[1])).filter(Boolean);\n    if (cells.length < 4) return null;\n    const numeric = cells.slice(1).map(parseNumber).filter((value) => value !== null);\n    if (numeric.length < 3) return null;\n    return { bank_id: bankId, source_date: sourceDate, name: cells[0], navpu: numeric[0], roi_yoy: numeric[1] };\n  }).filter(Boolean);\n}\nfunction roundRate(value) {\n  return Number(value.toFixed(6));\n}\nconst funds = nodeRows('Get Target Funds').filter((row) => row.id);\nif (!funds.length) throw new Error('No target UITF funds returned from Supabase');\nconst benchmarks = nodeRows('Get Latest Benchmark').filter((row) => row.rate !== undefined && row.rate !== null);\nif (!benchmarks.length) throw new Error('Missing US_TBILL_90D benchmark. Run the benchmark workflow first.');\nconst benchmarkRate = Number(benchmarks[0].rate);\nconst benchmarkComparableRate = benchmarkRate * 1;\nconst requestItems = $items('Build Source Requests');\nconst sourceItems = $items('Fetch UITF Provider Sources');\nconst rows = [];\nsourceItems.forEach((item, index) => {\n  const request = requestItems[index]?.json || {};\n  const raw = item.json.data || item.json.body || item.json.html || item.json.response || '';\n  const html = typeof raw === 'string' ? raw : JSON.stringify(raw || {});\n  if (!html || html === '{}') throw new Error('UITF provider source returned no usable body for bank_id=' + request.bank_id);\n  if (/incapsula|request unsuccessful|incident id/i.test(html)) throw new Error('UITF source blocked request for bank_id=' + request.bank_id + ': ' + strip(html).slice(0, 300));\n  rows.push(...parseRows(html, Number(request.bank_id)));\n});\nconst rowsByBankAndName = new Map(rows.map((row) => [row.bank_id + ':' + norm(row.name), row]));\nconst output = [];\nconst missing = [];\nfor (const fund of funds) {\n  const config = SOURCE_CONFIG[fund.slug];\n  if (!config) {\n    missing.push(fund.slug + ' has no source config');\n    continue;\n  }\n  const row = rowsByBankAndName.get(config.bank_id + ':' + norm(config.source_name));\n  if (!row) {\n    missing.push(fund.provider + ' - ' + fund.name + ' expected source row ' + config.source_name);\n    continue;\n  }\n  const grossYield = Number(row.roi_yoy) / 100;\n  const afterTaxYield = grossYield * 0.8;\n  const netYield = afterTaxYield - Number(fund.trust_fee_pct || 0);\n  output.push({ json: { fund_id: fund.id, date: row.source_date, navpu: row.navpu, gross_yield_1y: roundRate(grossYield), after_tax_yield: roundRate(afterTaxYield), net_yield: roundRate(netYield), benchmark_rate: roundRate(benchmarkRate), vs_benchmark: roundRate(netYield - benchmarkComparableRate), data_source: 'scraper' } });\n}\nif (missing.length) {\n  const seen = rows.slice(0, 40).map((row) => row.bank_id + ':' + row.name + ' (' + row.roi_yoy + '%)').join('; ');\n  throw new Error('Missing UITF source rows: ' + missing.join('; ') + '. Parsed sample: ' + seen);\n}\nreturn output;"
      },
      "id": "2ace5506-2d93-4f22-96f5-e7b55f4cb0fd",
      "name": "Build Daily Rate Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        630,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://REPLACE_WITH_SUPABASE_PROJECT.supabase.co/rest/v1/mmf_daily_rates?on_conflict=fund_id,date",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "REPLACE_WITH_SUPABASE_SERVICE_ROLE_KEY"
            },
            {
              "name": "Authorization",
              "value": "Bearer REPLACE_WITH_SUPABASE_SERVICE_ROLE_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}"
      },
      "id": "9d5246ed-e49d-4443-887b-90d447942d51",
      "name": "Upsert mmf_daily_rates",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        850,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const SOURCE_CONFIG = {\n  \"bdo-dollar-money-market-fund\": {\n    \"bank_id\": 6,\n    \"source_name\": \"BDO DOLLAR MONEY MARKET FUND\"\n  },\n  \"chinabank-dollar-cash-fund\": {\n    \"bank_id\": 7,\n    \"source_name\": \"CHINABANK DOLLAR CASH FUND\"\n  },\n  \"landbank-us-dollar-money-market-fund\": {\n    \"bank_id\": 9,\n    \"source_name\": \"LANDBANK US$ Money Market Fund\"\n  },\n  \"metro-dollar-money-market-fund\": {\n    \"bank_id\": 1,\n    \"source_name\": \"Metro$ Money Market Fund\"\n  },\n  \"pnb-prime-dollar-money-market-fund\": {\n    \"bank_id\": 2,\n    \"source_name\": \"PNB PRIME DOLLAR MONEY MARKET FUND\"\n  }\n};\nfunction nodeRows(name) {\n  return $items(name).flatMap((item) => {\n    if (Array.isArray(item.json)) return item.json;\n    if (Array.isArray(item.json.data)) return item.json.data;\n    return Object.keys(item.json || {}).length ? [item.json] : [];\n  });\n}\nconst funds = nodeRows('Get Target Funds').filter((row) => row.id);\nif (!funds.length) throw new Error('No target UITF funds returned from Supabase');\nconst bankIds = new Set();\nfor (const fund of funds) {\n  const config = SOURCE_CONFIG[fund.slug];\n  if (!config) throw new Error('Missing source config for ' + fund.slug);\n  bankIds.add(config.bank_id);\n}\nreturn [...bankIds].map((bankId) => ({ json: { bank_id: bankId, url: 'https://www.uitf.com.ph/daily_navpu.php?bank_id=' + bankId } }));"
      },
      "id": "generated-build-source-requests",
      "name": "Build Source Requests",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -10,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get Target Funds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily 6:35 PM PHT": {
      "main": [
        [
          {
            "node": "Get Target Funds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Target Funds": {
      "main": [
        [
          {
            "node": "Get Latest Benchmark",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Latest Benchmark": {
      "main": [
        [
          {
            "node": "Build Source Requests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Daily Rate Payload": {
      "main": [
        [
          {
            "node": "Upsert mmf_daily_rates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Source Requests": {
      "main": [
        [
          {
            "node": "Fetch UITF Provider Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch UITF Provider Sources": {
      "main": [
        [
          {
            "node": "Build Daily Rate Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "source-date-daily-navpu-inline-template",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
