docs/n8n/mmf-bpi-wealth-mutual-daily.workflow.json
{
  "name": "Truva MMF - PIFA Mutual Funds Daily",
  "nodes": [
    {
      "parameters": {},
      "id": "a1f5fb4b-04db-46f8-8bb5-87b7259237f1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -760,
        -120
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "45 18 * * *"
            }
          ]
        },
        "timezone": "Asia/Manila"
      },
      "id": "b435a6e0-49b0-49bc-9c2c-4a935efb2a2b",
      "name": "Daily 6:45 PM PHT",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -760,
        80
      ]
    },
    {
      "parameters": {
        "url": "={{$env.SUPABASE_URL}}/rest/v1/money_market_funds?select=id,slug,name,provider,trust_fee_pct&is_active=eq.true&currency=eq.PHP&fund_type=eq.Mutual%20Fund&navpu_source=eq.bank_website",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "id": "af67ee7a-7f68-4dfe-b49a-eed912266f71",
      "name": "Get Mutual Fund Targets",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -430,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{$env.SUPABASE_URL}}/rest/v1/benchmark_rates?select=rate,date&key=eq.BTR_91D&order=date.desc&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "id": "2aeb830f-9816-47ef-9ad4-1d79f0bc6409",
      "name": "Get Latest Benchmark",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -110,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://pifa.com.ph/facts-figures/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (compatible; TruvaMMF/1.0)"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text",
              "outputPropertyName": "data"
            }
          },
          "timeout": 30000
        }
      },
      "id": "fc8ff9e9-4ff3-46fe-a283-8ec94e9d3a0f",
      "name": "Fetch PIFA Facts Figures",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        310,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "function nodeRows(name) {\n  return $items(name).flatMap((item) => {\n    if (Array.isArray(item.json)) return item.json;\n    if (Array.isArray(item.json.data)) return item.json.data;\n    return Object.keys(item.json || {}).length ? [item.json] : [];\n  });\n}\nfunction decode(value) {\n  return String(value || '').replace(/&nbsp;/g, ' ').replace(/&amp;|&#038;/g, '&').replace(/&#8211;|&ndash;/g, '-').replace(/&#x27;|&#39;/g, String.fromCharCode(39)).replace(/&quot;|&#34;/g, String.fromCharCode(34));\n}\nfunction strip(value) {\n  return decode(value).replace(/<!--[\\s\\S]*?-->/g, ' ').replace(/<script[\\s\\S]*?<\\/script>/gi, ' ').replace(/<style[\\s\\S]*?<\\/style>/gi, ' ').replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim();\n}\nfunction parsePifaDate(text) {\n  const match = text.match(/As of\\s+(\\d{2})\\/(\\d{2})\\/(\\d{4})/i);\n  if (!match) throw new Error('Could not find PIFA source date. Sample: ' + text.slice(0, 400));\n  return match[3] + '-' + match[1] + '-' + match[2];\n}\nfunction parseBpiDate(text) {\n  const match = text.match(/Investment Funds Daily Monitor data as of ([A-Za-z]+)\\s+(\\d{1,2}),\\s*(\\d{4})/i);\n  if (!match) return null;\n  const months = { jan: '01', feb: '02', mar: '03', apr: '04', may: '05', jun: '06', jul: '07', aug: '08', sep: '09', oct: '10', nov: '11', dec: '12' };\n  return match[3] + '-' + months[match[1].slice(0, 3).toLowerCase()] + '-' + String(match[2]).padStart(2, '0');\n}\nfunction roundRate(value) { return Number(value.toFixed(6)); }\nfunction parseBpiRows(text) {\n  const matches = [...text.matchAll(/(ALFM Money Market Fund(?: \\(Units\\))?)\\s+([\\d,.]+)\\s+-?\\d+(?:\\.\\d+)?%\\s+-?\\d+(?:\\.\\d+)?%\\s+(-?\\d+(?:\\.\\d+)?)%/gi)];\n  if (matches.length < 2) return null;\n  return {\n    'alfm-money-market-fund-shares': { navpu: Number(matches[0][2].replace(/,/g, '')), gross_yield: Number(matches[0][3]) / 100 },\n    'alfm-money-market-fund-units': { navpu: Number(matches[1][2].replace(/,/g, '')), gross_yield: Number(matches[1][3]) / 100 },\n  };\n}\nconst funds = nodeRows('Get Mutual Fund Targets').filter((row) => row.id);\nif (!funds.length) throw new Error('No mutual-fund targets returned from Supabase');\nconst benchmarks = nodeRows('Get Latest Benchmark').filter((row) => row.rate !== undefined && row.rate !== null);\nif (!benchmarks.length) throw new Error('Missing BTR_91D benchmark. Run the BTr benchmark workflow first.');\nconst benchmarkRate = Number(benchmarks[0].rate);\nconst benchmarkAfterTaxRate = benchmarkRate * 0.8;\nconst pifaRaw = $items('Fetch PIFA Facts Figures')[0].json.data || $items('Fetch PIFA Facts Figures')[0].json.body || $items('Fetch PIFA Facts Figures')[0].json.html || '';\nconst bpiRaw = $items('Fetch BPI Funds Monitor')[0].json.data || $items('Fetch BPI Funds Monitor')[0].json.body || $items('Fetch BPI Funds Monitor')[0].json.html || '';\nconst pifaText = strip(typeof pifaRaw === 'string' ? pifaRaw : JSON.stringify(pifaRaw || {}));\nconst bpiText = strip(typeof bpiRaw === 'string' ? bpiRaw : JSON.stringify(bpiRaw || {}));\nconst sourceDate = parsePifaDate(pifaText);\nconst alfmRows = [...pifaText.matchAll(/(ALFM Money Market Fund, Inc\\.)\\s+([\\d,.]+)\\s+(-?\\d+(?:\\.\\d+)?)%/gi)];\nif (alfmRows.length < 2) throw new Error('Could not parse both ALFM rows from PIFA');\nconst sourceRows = {\n  'alfm-money-market-fund-shares': { navpu: Number(alfmRows[0][2].replace(/,/g, '')), gross_yield: Number(alfmRows[0][3]) / 100 },\n  'alfm-money-market-fund-units': { navpu: Number(alfmRows[1][2].replace(/,/g, '')), gross_yield: Number(alfmRows[1][3]) / 100 },\n};\nconst fami = pifaText.match(/First Metro Save and Learn Money Market Fund, Inc\\.\\s+([\\d,.]+)\\s+(-?\\d+(?:\\.\\d+)?)%/i);\nif (!fami) throw new Error('Could not parse FAMI row from PIFA');\nsourceRows['fami-save-and-learn-money-market-fund'] = { navpu: Number(fami[1].replace(/,/g, '')), gross_yield: Number(fami[2]) / 100 };\nconst bpiDate = parseBpiDate(bpiText);\nconst bpiRows = parseBpiRows(bpiText);\nif (bpiDate === sourceDate && bpiRows) {\n  for (const slug of ['alfm-money-market-fund-shares', 'alfm-money-market-fund-units']) {\n    const pifa = sourceRows[slug];\n    const bpi = bpiRows[slug];\n    if (Math.abs(pifa.navpu - bpi.navpu) > 0.0001 || Math.abs(pifa.gross_yield - bpi.gross_yield) > 0.000001) {\n      throw new Error('ALFM cross-check mismatch for ' + slug + ': PIFA ' + JSON.stringify(pifa) + ', BPI ' + JSON.stringify(bpi));\n    }\n  }\n}\nconst output = [];\nconst missing = [];\nfor (const fund of funds) {\n  const row = sourceRows[fund.slug];\n  if (!row) { missing.push(fund.provider + ' - ' + fund.name); continue; }\n  const netYield = row.gross_yield;\n  output.push({ json: { fund_id: fund.id, date: sourceDate, navpu: row.navpu, gross_yield_1y: roundRate(row.gross_yield), after_tax_yield: roundRate(row.gross_yield), net_yield: roundRate(netYield), benchmark_rate: roundRate(benchmarkRate), vs_benchmark: roundRate(netYield - benchmarkAfterTaxRate), data_source: 'scraper' } });\n}\nif (missing.length) throw new Error('Missing PIFA mutual-fund rows for: ' + missing.join('; '));\nreturn output;"
      },
      "id": "79b2b98a-098e-4c53-a87f-4bd7c8a2ce91",
      "name": "Build Daily Rate Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        950,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/mmf_daily_rates?on_conflict=fund_id,date",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}"
      },
      "id": "d284c664-44c4-43bf-8270-3920824f9dfc",
      "name": "Upsert mmf_daily_rates",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        850,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://www.bpi.com.ph/group/bpiwealth/analyst-insights/investment-funds-monitor",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (compatible; TruvaMMF/1.0)"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text",
              "outputPropertyName": "data"
            }
          },
          "timeout": 30000
        }
      },
      "id": "generated-fetch-bpi-monitor",
      "name": "Fetch BPI Funds Monitor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        630,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get Mutual Fund Targets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily 6:45 PM PHT": {
      "main": [
        [
          {
            "node": "Get Mutual Fund Targets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Latest Benchmark": {
      "main": [
        [
          {
            "node": "Fetch PIFA Facts Figures",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Daily Rate Payload": {
      "main": [
        [
          {
            "node": "Upsert mmf_daily_rates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch PIFA Facts Figures": {
      "main": [
        [
          {
            "node": "Fetch BPI Funds Monitor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch BPI Funds Monitor": {
      "main": [
        [
          {
            "node": "Build Daily Rate Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Mutual Fund Targets": {
      "main": [
        [
          {
            "node": "Get Latest Benchmark",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "pifa-mutual-source-date",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
